<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <clear/>
    <add key="SolutionFile" value="" />
    <add key="ProjectFile" value="" />
    <add key="Configuration" value="" />
    <add key="PluginsDirectory" value="" />
    <add key="CssDirectory" value="" />
    <add key="ImagesDirectory" value="" />
    <add key="ScriptsDirectory" value="" />
    <add key="ModelsDirectory" value="" />
    <add key="ViewsDirectory" value="" />
  </appSettings>
</configuration>